<div id="header">
    <p style="color:black; text-align:center; font-weight:bold; font-family:Tahoma, sans-serif; font-size:24px;">
        Data Preprocessing with One Hot Encoding
    </p>
</div>

<div style="background-color:#bfbfbf; padding:8px; border:2px dotted black; border-radius:8px; font-family:sans-serif; line-height: 1.7em">

**One-hot encoding** is a technique used to convert categorical data into a format that can be provided to machine learning algorithms to improve performance. This method transforms each category of a feature into a new binary column, where a "1" indicates the presence of a category, and a "0" indicates its absence.

For example, if you have a feature representing colors with three possible values ("red," "blue," "green"), one-hot encoding will create three new binary columns as follows:

![Screenshot 2024-10-12 at 1.48.06 AM.png]()


This method prevents algorithms from assuming a relationship between the categories, such as one being "greater" or "lesser" than another.

</div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('adult.csv')

In [ ]:
df.head(10)

,age,workclass,education,marital.status,occupation,sex,native.country,income
0,90,?,HS-grad,Widowed,?,Female,United-States,<=50K
1,82,Private,HS-grad,Widowed,Exec-managerial,Female,United-States,<=50K
2,66,?,Some-college,Widowed,?,Female,United-States,<=50K
3,54,Private,7th-8th,Divorced,Machine-op-inspct,Female,United-States,<=50K
4,41,Private,Some-college,Separated,Prof-specialty,Female,United-States,<=50K
5,34,Private,HS-grad,Divorced,Other-service,Female,United-States,<=50K
6,38,Private,10th,Separated,Adm-clerical,Male,United-States,<=50K
7,74,State-gov,Doctorate,Never-married,Prof-specialty,Female,United-States,>50K
8,68,Federal-gov,HS-grad,Divorced,Prof-specialty,Female,United-States,<=50K
9,41,Private,Some-college,Never-married,Craft-repair,Male,?,>50K

In [ ]:
df['workclass'].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [ ]:
df['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [ ]:
df['occupation'].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

## **OneHotEncoding using Pandas**

In [ ]:
pd.get_dummies(df, columns=['workclass','occupation'], dtype=int)

,age,education,marital.status,sex,native.country,income,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,90,HS-grad,Widowed,Female,United-States,<=50K,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,82,HS-grad,Widowed,Female,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,66,Some-college,Widowed,Female,United-States,<=50K,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,54,7th-8th,Divorced,Female,United-States,<=50K,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,41,Some-college,Separated,Female,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Some-college,Never-married,Male,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32557,27,Assoc-acdm,Married-civ-spouse,Female,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32558,40,HS-grad,Married-civ-spouse,Male,United-States,>50K,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32559,58,HS-grad,Widowed,Female,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32560,22,HS-grad,Never-married,Male,United-States,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**K-1 OneHotEncoding**

In [ ]:
pd.get_dummies(df,columns=['workclass','occupation'],drop_first=True)

,age,education,marital.status,sex,native.country,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,90,HS-grad,Widowed,Female,United-States,<=50K,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,82,HS-grad,Widowed,Female,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,66,Some-college,Widowed,Female,United-States,<=50K,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,54,7th-8th,Divorced,Female,United-States,<=50K,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
4,41,Some-college,Separated,Female,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Some-college,Never-married,Male,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
32557,27,Assoc-acdm,Married-civ-spouse,Female,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
32558,40,HS-grad,Married-civ-spouse,Male,United-States,>50K,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
32559,58,HS-grad,Widowed,Female,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
32560,22,HS-grad,Never-married,Male,United-States,<=50K,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

# **OneHotEncoding using Sklearn**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Select features (X) and target variable (y)
X = df[['age','workclass', 'education', 'occupation']]  # Input features
y = df['income']

In [ ]:
# Perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [ ]:
X_train.head()

       age  workclass  education         occupation
14419   50    Private    HS-grad       Craft-repair
11366   36    Private  Bachelors     Prof-specialty
4937    64    Private    HS-grad   Transport-moving
22944   47  Local-gov  Bachelors     Prof-specialty
6729    46    Private    HS-grad  Machine-op-inspct

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)

In [ ]:
X_train_new = ohe.fit_transform(X_train[['workclass','occupation']])

In [ ]:
X_test_new = ohe.transform(X_test[['workclass','occupation']])

In [ ]:
X_train_new.shape

(26048, 22)

In [ ]:
np.hstack((X_train[['education','age']].values,X_train_new))

array([['HS-grad', 50, 0, ..., 0, 0, 0],
       ['Bachelors', 36, 0, ..., 0, 0, 0],
       ['HS-grad', 64, 0, ..., 0, 0, 1],
       ...,
       ['HS-grad', 61, 0, ..., 1, 0, 0],
       ['Bachelors', 40, 1, ..., 0, 0, 0],
       ['Bachelors', 44, 0, ..., 0, 0, 0]], dtype=object)

**OneHotEncoding with Top Categories**

In [ ]:
counts = df['occupation'].value_counts()

In [ ]:
df['occupation'].nunique()
threshold = 2000

In [ ]:
repl = counts[counts <= threshold].index

In [ ]:
pd.get_dummies(df['occupation'].replace(repl, 'other')).astype(int).sample(5)

,Adm-clerical,Craft-repair,Exec-managerial,Machine-op-inspct,Other-service,Prof-specialty,Sales,other
8503,0,0,1,0,0,0,0,0
10142,0,0,0,0,0,1,0,0
1252,0,0,0,0,0,0,0,1
4934,0,0,0,0,1,0,0,0
29628,0,0,0,0,0,0,1,0